In [6]:
import os
os.chdir(r"D:\eda_project")
os.getcwd()

'D:\\eda_project'

In [8]:
import pandas as pd

df = pd.read_csv("data/dataset.csv")
df.head()

,customer_id,order_date,product_id,category_id,category_name,product_name,quantity,price,payment_method,city,review_score,gender,age
0,13542,2024-12-17,784,10,Electronics,Smartphone,2,373.36,Credit Card,New Oliviaberg,1.0,F,56
1,23188,2024-06-01,682,50,Sports & Outdoors,Soccer Ball,5,299.34,Credit Card,Port Matthew,NaN,M,59
2,55098,2025-02-04,684,50,Sports & Outdoors,Tent,5,23.00,Credit Card,West Sarah,5.0,F,64
3,65208,2024-10-28,204,40,Books & Stationery,Story Book,2,230.11,Bank Transfer,Hernandezburgh,5.0,M,34
4,63872,2024-05-10,202,20,Fashion,Skirt,4,176.72,Credit Card,Jenkinshaven,1.0,F,33

In [9]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     1000 non-null   int64
 1   order_date      1000 non-null   object
 2   product_id      1000 non-null   int64
 3   category_id     1000 non-null   int64
 4   category_name   1000 non-null   object
 5   product_name    1000 non-null   object
 6   quantity        1000 non-null   int64
 7   price           1000 non-null   float64
 8   payment_method  1000 non-null   object
 9   city            1000 non-null   object
 10  review_score    799 non-null    float64
 11  gender          897 non-null    object
 12  age             1000 non-null   int64
dtypes: float64(2), int64(5), object(6)
memory usage: 101.7+ KB

customer_id         0
order_date          0
product_id          0
category_id         0
category_name       0
product_name        0
quantity            0
price               0
payment_method      0
city                0
review_score      201
gender            103
age                 0
dtype: int64